@import "inter.css";
@import "poppins.css";

body, html {
	padding: 0;
	margin: 0;
}

.no-scroll {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
}

.no-bad-scale {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        transform: translateZ(0);
}


.font-poppins {
        font-family: "Poppins";
}

.font-inter {
        font-family: "Inter";
}