@import "inter.css";
@import "poppins.css";
@import "themes.css";

body, html {
	padding: 0;
	margin: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.bg-gradient-light {
	background: linear-gradient(
		115deg,
		transparent 0,
		transparent 20%,
		rgba(176, 148, 88, 0.1) 35%,
		rgba(230, 153, 9, 0.1) 70%,
		transparent 80%,
		transparent 100%
	);
}

.scale-fix {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: translateZ(0);
}

.font-poppins {
	font-family: "Poppins";
}

.font-inter {
	font-family: "Inter";
}