.theme-color-darkblue {
	/* Assign --theme-color-accent-50 to --theme-color-accent-950 to hex codes */
	--theme-color-accent-50: #CCC9FF;
	--theme-color-accent-100: #B2AEED;
	--theme-color-accent-200: #9490D4;
	--theme-color-accent-300: #7571B5;
	--theme-color-accent-400: #524C83;
	--theme-color-accent-500: #39335E;
	--theme-color-accent-600: #2D254B;
	--theme-color-accent-700: #211A39;
	--theme-color-accent-800: #161026;
	--theme-color-accent-900: #0B0714;
	--theme-color-accent-950: #000000;
}

.theme-bg-darkblue {
	--un-bg-opacity: 1;
	/* Same for --theme-bg-accent */
	--theme-bg-accent-50: 243, 245, 255;
	--theme-bg-accent-100: 211, 216, 237;
	--theme-bg-accent-200: 175, 183, 212;
	--theme-bg-accent-300: 138, 148, 181;
	--theme-bg-accent-400: 92, 100, 131;
	--theme-bg-accent-500: 62, 69, 94;
	--theme-bg-accent-600: 48, 53, 75;
	--theme-bg-accent-700: 34, 39, 57;
	--theme-bg-accent-800: 22, 25, 38;
	--theme-bg-accent-900: 11, 13, 20;
	--theme-bg-accent-950: 0, 0, 0;
}

.theme-bg-dark {
	--theme-bg-accent-50: 250, 250, 250;
	--theme-bg-accent-100: 244, 244, 245;
	--theme-bg-accent-200: 228, 228, 231;
	--theme-bg-accent-300: 212, 212, 216;
	--theme-bg-accent-400: 161, 161, 170;
	--theme-bg-accent-500: 113, 113, 122;
	--theme-bg-accent-600: 82, 82, 91;
	--theme-bg-accent-700: 63, 63, 70;
	--theme-bg-accent-800: 39, 39, 42;
	--theme-bg-accent-900: 24, 24, 27;
	--theme-bg-accent-950: 9, 9, 11;
}

.theme-bg-darkorange {
	--un-bg-opacity: 1;
	/* Same for --theme-bg-accent */
	--theme-bg-accent-50: 250, 250, 250;
	--theme-bg-accent-100: 241, 241, 241;
	--theme-bg-accent-200: 222, 222, 222;
	--theme-bg-accent-300: 188, 187, 188;
	--theme-bg-accent-400: 144, 146, 145;
	--theme-bg-accent-500: 113, 112, 107;
	--theme-bg-accent-600: 90, 85, 78;
	--theme-bg-accent-700: 68, 63, 59;
	--theme-bg-accent-800: 46, 43, 41;
	--theme-bg-accent-900: 28, 25, 26;
	--theme-bg-accent-950: 9, 9, 11;
}